name: Deploy GitHub Pages

# 触发条件：在 push 到 develop 分支后
on:
  push:
    branches:
      - develop

# 任务
jobs:
  build-and-deploy:
    # 服务器环境：最新版 Ubuntu
    runs-on: ubuntu-latest
    steps:
      # 拉取代码
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      # 1、生成静态文件
      - name: Build
        run: npm install && npm run build

      # 2、部署到 GitHub Pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          ssh-key: ${{ secrets.BLOG_PRIVATE_KEY }}
          # repository-name: qiongxing/qiongxing.github.io #因为是当前项目直接部署，所以不需要指向其他分支
          branch: dev-pages
          folder: public